<section class="main-block">
  <div class="wrap-info">
    <i class="material-icons open-sidebar" (click)="openSidebar()">
      arrow_back
    </i>
    <div class="info-block">
      <h2 class="user-fullname">Valentin Bondyashev</h2>
      <ul class="list-info">
        <li class="status-block">
          <div class="status"></div>
          <span class="status-name" translate>Active</span>
        </li>
        <li class="gallery-block">
          <i class="material-icons">
            burst_mode
          </i>
          <span translate>Gallery</span>
        </li>
        <li class="search-block">
          <i class="material-icons">
            search
          </i>
          <span translate>Find</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="button-block">
    <button>
      <i class="material-icons">videocam</i>
    </button>
    <button>
      <i class="material-icons">call</i>
    </button>
    <button>
      <i class="material-icons">person_add</i>
    </button>
  </div>
</section>
