<section class="main-block">
  <div class="nav-block">
    <div (click)="changeNavElement('chats')" class="nav-button"
         [ngClass]="{'nav-button nav-button-active': navElement === 'chats', 'nav-button': true}">
      <i class="material-icons">
        chat
      </i>
      <p translate>Chats</p>
    </div>
    <div (click)="changeNavElement('calls')" class="nav-button"
         [ngClass]="{'nav-button nav-button-active': navElement === 'calls', 'nav-button': true}">
      <i class="material-icons">
        call
      </i>
      <p translate>Calls</p>
    </div>
    <div (click)="changeNavElement('contacts')" class="nav-button"
         [ngClass]="{'nav-button nav-button-active': navElement === 'contacts', 'nav-button': true}">
      <i class="material-icons">
        perm_contact_calendar
      </i>
      <p translate>Contacts</p>
    </div>
    <div (click)="changeNavElement('notifications')" class="nav-button"
         [ngClass]="{'nav-button nav-button-active': navElement === 'notifications', 'nav-button': true}">
      <i class="material-icons">
        notifications
      </i>
      <p translate>Notifications</p>
    </div>
  </div>
  <ng-container [ngSwitch]="navElement">
    <div *ngSwitchCase="'chats'">
      <app-create-block [type]="'Chat'"></app-create-block>
      <app-chats></app-chats>
    </div>
    <div *ngSwitchCase="'calls'">
      <app-create-block></app-create-block>
      <app-calls>Calls</app-calls>
    </div>
    <div *ngSwitchCase="'contacts'">
      <app-create-block [type]="'Contact'"></app-create-block>
      <app-contacts>Contacts</app-contacts>
    </div>
    <div *ngSwitchCase="'notifications'">
      <app-create-block></app-create-block>
      <app-notifications>Notifications</app-notifications>
    </div>
  </ng-container>
</section>
