<section>
  <div class="chats-block">
    <div *ngFor="let chat of chats" [routerLink]="['chat']" [queryParams]="{'id':chat.id}" class="chat-block">
      <ng-container>

        <app-avatar [userInfo]="chat"></app-avatar>
        <div class="user-info-block">
          <div>
            <p class="user-name">{{chat.name}}</p>
            <span class="last-message">Hello...</span>
          </div>
          <span class="last-message-date">6/8/2019</span>
        </div>
      </ng-container>
    </div>
  </div>
</section>
