<div class="main-block">
  <app-avatar [userInfo]="{'status': 'active', avatar: false}"></app-avatar>
  <p class="username">Valentine Bondyashev</p>
  <div class="settings">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="setting-button">
      <mat-icon>more_horiz</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="themes" translate>Themes</button>
      <button mat-menu-item [matMenuTriggerFor]="languages" translate>Languages</button>
    </mat-menu>

    <mat-menu #themes="matMenu">
      <button mat-menu-item (click)="themeService.setTheme('dark')" translate>Dark</button>
      <button mat-menu-item (click)="themeService.setTheme('light')" translate>Light</button>
    </mat-menu>

    <mat-menu #languages="matMenu">
      <button mat-menu-item (click)="translate.use('en')" translate>English</button>
      <button mat-menu-item (click)="translate.use('ru')" translate>Russian</button>
    </mat-menu>
  </div>
</div>
