<div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Find people" formControlName="name" (ngModelChange)="handleInput($event)">
    </mat-form-field>
    <div class="example-section" formArrayName="subscribers">
      <div *ngFor="let user of users">
        <mat-checkbox class="example-margin"
                      [value]="user"
                      (change)="addItem($event)">
          {{user.firstName + ' ' + user.lastName}}
        </mat-checkbox>
      </div>
    </div>
    <button mat-stroked-button>Add new contacts</button>
  </form>
</div>
