.main-block {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.info-block{
  display: flex;
  align-items: center;
}

.username {
  color: var(--first-font-color);
  margin: 0 10px;
}

.setting-button{
  color: var(--first-font-color);
}


